  <div class="col-xs-12 col-xs-offset-0 well well-lg">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Group</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created by</th>
          <th scope="col">Created On</th>
          <th scope="col">Updated On</th>
        </tr>
      </thead>
      <tbody>
      <% obj.each do |device| %>
          <tr>
          <td><%= link_to device.group.name, group_path(device.group) %> </td>
          <td><%= device.devicetype %></td>
          <td ><%= link_to device.name, device_path(device) %> </td>
          <td><%= truncate(device.description, length:50) %></td>
          <td><%= device.user.username if device.user%></td>
          <td><%= device.created_at.to_date %></td>
          <td><%= device.updated_at.to_date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>