<% if logged_in? %>
<div class="container">
  <div class="row center">
    <%= link_to '#' do %>
    <div class="col-md-3 col-md-offset-1">
      <div class="thumbnail">
        <%= image_tag 'testexe.jpg' , :style => "width:150px;height:150px;" %>
        <div class="caption">
          <h3>Test Execution</h3>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to management_path do %>
     <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag 'testmgmt.jpg', :style => "width:150px;height:150px;"%>
        <div class="caption">
          <h3>Test Management</h3>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to '#' do %>
     <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag 'testresource.jpg', :style => "width:150px;height:150px;"%>
        <div class="caption">
          <h3>Test Resource</h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row center">
    <%= link_to testusers_path do %>
    <div class="col-md-3 col-md-offset-1">
      <div class="thumbnail">
        <%= image_tag 'testusers.jpg' , :style => "width:150px;height:150px;" %>
        <div class="caption">
          <h3>Test Users</h3>
        </div>
      </div>
    </div>
    <% end %>
    <a href="#">
     <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag 'testreport.jpg', :style => "width:150px;height:150px;"%>
        <div class="caption">
          <h3>Test Reports</h3>
        </div>
      </div>
    </div> </a>
    <%= link_to '#' do %>
     <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag 'testproject.jpg', :style => "width:150px;height:150px;"%>
        <div class="caption">
          <h3>Test Projects</h3>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
<% else %>
  <div class="container center jumbotron">
    <h1>Riverbed Test Management</h1>
    <%= link_to "Log in", login_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
<% end %>