<% if logged_in? %>
<div class="container">
  <div class="row center">
    <%= link_to new_device_path do %>
    <div class="col-md-3 col-md-offset-1">
      <div class="thumbnail">
        <%= image_tag 'device.png' , :style => "width:150px;height:150px;" %>
        <div class="caption">
          <h3>Add Device</h3>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to new_group_path do %>
     <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag 'group.jpg', :style => "width:150px;height:150px;"%>
        <div class="caption">
          <h3>Add Group</h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>
    <div class="row center">
    <%= link_to devices_path do %>
     <div class="col-md-3 col-md-offset-1">
      <div class="thumbnail">
        <%= image_tag 'device.png', :style => "width:150px;height:150px;"%>
        <div class="caption">
          <h3>View all Devices</h3>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to groups_path do %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag 'group.jpg' , :style => "width:150px;height:150px;" %>
        <div class="caption">
          <h3>View all Groups</h3>
        </div>
      </div>
    </div>
    <% end %>    
  </div>
</div>
<% end %>