<div class="col-xs-12 col-xs-offset-0 well well-lg">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Testsuite Name</th>
          <th scope="col">Testcase Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created by</th>
          <th scope="col">Created On</th>
          <th scope="col">Updated On</th>
          <th scope="col">Assigned To</th>
        </tr>
      </thead> 
      <tbody> 
      <% obj.each do |testcase| %>
          <tr>
          <td><%= link_to testcase.testsuite.title, testsuite_path(testcase.testsuite.id) if testcase.testsuite %></td>
          <td><%= link_to testcase.title, testcase_path(testcase) %> </td>
          <td><%= truncate(testcase.description, length:50) %></td>
          <td><%= testcase.user.username if testcase.user%></td>
          <td><%= testcase.created_at.to_date %></td>
          <td><%= testcase.updated_at.to_date %></td>
          <td>Kartik Aiyar</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>