
<div class="well col-xs-8 col-xs-offset-2">
  <h3 align="left"><strong>Testcase Name:</strong> <%= @testcase.title %></h2>
  <h3 class="left description"><strong>Description:</strong></h4>
  <%= simple_format(@testcase.description) %>
  <div class="article-actions">
    <%= link_to "Edit this Testcase", edit_testcase_path(@testcase), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this Testcase", testcase_path(@testcase), method: :delete, 
                                        data: { confirm: "Are you sure you want to delete the article?"}, 
                                        class: "btn btn-xs btn-danger" %>
    <%= link_to "View all Testcase", testcases_path, class: "btn btn-xs btn-success" %>

</div>

</div>